<!-- prettier-ignore -->
{% macro m_interfaces(interfaces=[]) -%}

<ul>
  {% for i in interfaces %}
  <li>
    <div class="flex">
      <a
        class="py-1 pl-12 pr-7 flex-grow hover:bg-gray-100 transition ease-in-out duration-150 cursor-pointer flex"
        href="{{ i['route'] }}"
      >
        <span class="flex items-center pr-2">
          <img
            src="{{ url_for('static', filename='images/link.png') }}"
            class="h-4"
          />
        </span>
        {{ i['name'] }}
      </a>
    </div>
  </li>
  {% endfor %}
</ul>
<!-- prettier-ignore -->
{%- endmacro %}

<!-- prettier-ignore -->
{% macro m_routers(routers=[]) -%}

<ul class="">
  {% for r in routers %}
  <li>
    <div class="flex">
      <a
        class="py-3 px-7 flex-grow hover:bg-gray-100 transition ease-in-out duration-150 cursor-pointer flex"
        href="{{ r['route'] }}"
      >
        <span class="flex items-center pr-2 flex-shrink-0">
          <img
            src="{{ url_for('static', filename='images/router.png') }}"
            class="h-4"
          />
        </span>
        <span> {{ r['ip'] }} </span>
        <span class="font-semibold pl-2"> {{ r['hostname'] }} </span></a
      >
      <div
        class="inline-block w-10 flex items-center justify-center hover:bg-gray-100 transition ease-in-out duration-150 cursor-pointer select-none interface-expander-arrow"
      >
        <img
          class="align-middle h-3 w-3 arrow"
          src="{{ url_for('static', filename='images/right-arrow.png') }}"
        />
      </div>
    </div>
    <div class="interface-expansion expansion-closed">
      <!-- prettier-ignore -->
      {{ m_interfaces(r['interfaces']) }}
    </div>
  </li>
  {% endfor %}
</ul>
<!-- prettier-ignore -->
{%- endmacro %}


{% macro menu(routes=[]) -%}

<div class="border border-gray-300 rounded-md w-60">
  <h2 class="poppins text-base font-semibold text-blue py-5 px-7">Menu</h2>
  <ul class="text-indigo-900 text-sm">
    {% for route in routes %}
    <li>
      <div class="flex border-t border-b border-gray-300 -mt-px">
        <a
          class="py-3 px-7 flex-grow hover:bg-gray-100 transition ease-in-out duration-150 cursor-pointer font-medium"
          href="{{ route['route'] }}"
        >
          {{ route['name'] }}
        </a>
        {% if 'routers' in route %}
        <div
          class="inline-block w-10 flex items-center justify-center hover:bg-gray-100 transition ease-in-out duration-150 cursor-pointer select-none router-expander-arrow"
        >
          <img
            class="align-middle h-3 w-3 arrow"
            src="{{ url_for('static', filename='images/right-arrow.png') }}"
          />
        </div>
        {% endif %}
      </div>
      <div class="router-expansion expansion-closed">
        <!-- prettier-ignore -->
        {% if 'routers' in route %} {{ m_routers(route['routers']) }} {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- prettier-ignore -->
{%- endmacro %}
