<!-- prettier-ignore -->
{% macro interface_item(interface={}) -%}
<div class="w-3/4 inline-flex">
  <a
    href="{{ '/routers/'~interface.router_id~'/'~interface.name }}"
    class="hover:bg-gray-100 transition ease-in-out duration-150 cursor-pointer flex-grow p-4"
  >
    <div class="flex">
      <div class="flex items-center">
        <img
          src="{{ url_for('static', filename='images/link.png') }}"
          class="w-10 h-10 ml-2 mr-6"
        />
      </div>
      <div class="flex-grow">
        <p class="text-xl font-semibold text-dark-blue mb-2">
          {{ 'Interfaz '~interface.name }}
        </p>
        <div class="flex">
          <div class="flex-grow">
            <p class="font-medium text-dark-blue">Dirección ip configurada</p>
            <p>{{ interface.ip }}</p>
            <p class="font-medium text-dark-blue">
              Máscara de subred configurada
            </p>
            <p>{{ interface.mask }}</p>
          </div>
          <div class="flex-grow">
            <p class="font-medium text-dark-blue">Dirección de red</p>
            <p>{{ interface.net }}</p>
            <p class="font-medium text-dark-blue">Estado</p>
            <p>
              {% if interface.is_active %}Activa{% else %}Apagada{% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
<!-- prettier-ignore -->
{%- endmacro %}
