<!-- prettier-ignore -->
{% macro router_item(router={}) -%}
<div class="w-80 border border-gray-300 rounded-md inline-flex">
  <a
    href="{{ '/routers/'~router.ip_max }}"
    class="hover:bg-gray-100 transition ease-in-out duration-150 cursor-pointer flex-grow"
  >
    <div class="px-4 pt-4 grid grid-cols-4 gap-x-4">
      <div class="text-sm font-medium text-blue col-span-3">
        <div class="">
          <div class="text-sm font-medium text-dark-blue">Router</div>
          <p class="text-2xl font-semibold text-dark-blue mb-2">
            {{ router.ip_max }}
          </p>
        </div>
      </div>
      <div class="text-sm text-gray-900 flex items-center justify-center">
        <img
          class="h-8 align-midivle"
          src="{{ url_for('static', filename='images/router-icon.png') }}"
        />
      </div>
    </div>

    <div>
      <div class="px-4 py-2">
        <div class="text-sm font-medium text-blue">Nombre de host</div>
        <div class="mt-1 text-sm text-gray-900">{{ router.hostname }}</div>
      </div>

      <div class="px-4 py-2">
        <div class="text-sm font-medium text-blue">Marca</div>
        <div class="mt-1 text-sm text-gray-900">{{ router.brand }}</div>
      </div>

      <div class="px-4 py-2">
        <div class="text-sm font-medium text-blue">Sistema operativo</div>
        <div class="mt-1 text-sm text-gray-900">{{ router.os }}</div>
      </div>

      <div class="px-4 py-2">
        <div class="text-sm font-medium text-blue">
          Número de interfaces activas
        </div>
        <div class="mt-1 text-sm text-gray-900">
          {{ router.active_interfaces }}
        </div>
      </div>
    </div>
  </a>
</div>
<!-- prettier-ignore -->
{%- endmacro %}
