<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tailwind.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="h-screen flex flex-col poppins text-base">
    <div
      class="bg-white flex-shrink-0 flex flex-col z-10"
      style="flex-basis: 100px; box-shadow: 0px 4px 12px rgba(37, 38, 94, 0.06)"
    >
      <div class="h-10 flex justify-center px-5">
        <div class="flex items-center" style="flex-basis: 1350px">
          <h4 class="poppins text-sm font-bold flex-grow text-blue">
            joel@ubuntuvm:/
          </h4>
        </div>
      </div>
      <div class="h-px bg-gray-200"></div>
      <div class="flex-grow flex justify-center px-5">
        <div class="flex items-center" style="flex-basis: 1350px">
          <h4
            class="poppins text-xl font-bold text-gray-800 text-blue flex-grow"
          >
            Networking managment
          </h4>
        </div>
      </div>
    </div>
    <div
      class="flex-grow flex min-h-0 justify-center bg-gray-50 bg-opacity-95 overflow-y-auto"
    >
      <div class="flex-shrink justify-center px-5" style="flex-basis: 760px">
        <main class="min-h-0 pt-12 pb-16 text-gray-600">
          {% block main %}{% endblock %}
        </main>
      </div>
    </div>
  </body>
  {% block custom_scripts %}{% endblock %}
</html>
