<!-- prettier-ignore -->
{% extends "public_template.html" %}

<!-- prettier-ignore -->
{% import "macros/cartel.html" as cartel %}

<!-- prettier-ignore -->
{% import "macros/interface_item.html" as interface_item %}

<!-- prettier-ignore -->
{% block title %}{{ router.name }}{% endblock %}


{% block main %}
<div class="flex justify-start mb-2">
  <a
    href="/"
    class="flex items-center bg-blue-100 rounded-lg py-2 px-4 hover:bg-blue-200 ease-in-out duration-150 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2"
  >
    <img
      class="inline-block h-3 w-3 mr-2"
      src="{{ url_for('static', filename='images/left-arrow.png') }}"
      alt=""
    />
    <span class="text-sm text-blue-800 font-semibold">REGRESAR</span>
  </a>
</div>
<div class="">
  <h1 class="text-4xl font-bold text-dark-blue mb-2" id="router_hostname">
    {{ router.hostname }}
  </h1>

  <h4 class="text-base font-semibold text-gray-700">
    Router <span id="router_id">{{ router.ip_max }}</span>
  </h4>

  <div class="py-4">
    <div class="mb-2">
      <h3 class="text-base font-medium text-gray-700">Hostname</h3>
      <h4 class="text-sm font-normal text-gray-500">
        <input
          id="input_hostname_router"
          type="text"
          value="{{ router.hostname }}"
          class="w-full no-input py-1 px-2"
          disabled
        />
      </h4>
    </div>
    <div class="mb-2">
      <h3 class="text-base font-medium text-gray-700">Descripción</h3>
      <h4 class="text-sm font-normal text-gray-500">{{ router.sys_desc }}</h4>
    </div>
    <div class="mb-2">
      <h3 class="text-base font-medium text-gray-700">
        Información de contacto
      </h3>
      <h4 class="text-sm font-normal text-gray-500">
        {{ router.sys_contact }}
      </h4>
    </div>
    <div class="mb-2">
      <h3 class="text-base font-medium text-gray-700">Nombre del sistema</h3>
      <h4 class="text-sm font-normal text-gray-500">{{ router.sys_name }}</h4>
    </div>
    <div class="mb-2">
      <h3 class="text-base font-medium text-gray-700">Locación</h3>
      <h4 class="text-sm font-normal text-gray-500">{{ router.sys_name }}</h4>
    </div>
  </div>
</div>

<!-- prettier-ignore -->
{{ cartel.cartel('', '', 'message', '') }}

<div class="flex flex-row-reverse">
  <button
    id="bttn_edit"
    class="ml-2 flex items-center bg-blue-100 rounded-lg py-2 px-4 hover:bg-blue-200 ease-in-out duration-150 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2"
  >
    <img
      class="inline-block h-3 w-3 mr-2"
      src="{{ url_for('static', filename='images/edit.png') }}"
      alt=""
    />
    <span class="text-sm text-blue-800 font-semibold">EDITAR</span>
  </button>
  <button
    id="bttn_save"
    class="hidden ml-2 flex items-center bg-green-100 rounded-lg py-2 px-4 hover:bg-green-200 ease-in-out duration-150 focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-offset-2"
  >
    <div class="content-section flex items-center">
      <img
        class="inline-block h-3 w-3 mr-2"
        src="{{ url_for('static', filename='images/edit.png') }}"
        alt=""
      />
      <span class="text-sm text-green-800 font-semibold">GUARDAR</span>
    </div>
    <div class="loading-section flex items-center hidden">
      <span class="text-sm text-green-800 font-semibold mx-2">CARGANDO</span>
      <span class="text-sm spin inline-block">⌛</span>
    </div>
  </button>
  <button
    id="bttn_cancel"
    class="hidden ml-2 flex items-center bg-red-100 rounded-lg py-2 px-4 hover:bg-red-200 ease-in-out duration-150 focus:outline-none focus:ring-2 focus:ring-red-300 focus:ring-offset-2"
  >
    <img
      class="inline-block h-2 w-2 mr-2"
      src="{{ url_for('static', filename='images/cancel.png') }}"
      alt=""
    />
    <span class="text-sm text-red-800 font-semibold">CANCELAR</span>
  </button>
</div>

<h3 class="text-base font-medium text-gray-700">Interfaces</h3>
<!-- prettier-ignore -->
{% for i in router.interfaces %} {{ interface_item.interface_item(i, loop.index) }} {% endfor %}

{% endblock %}

<!-- prettier-ignore -->
{% block custom_scripts %}
<script
  src="{{ url_for('static', filename='js/router.js') }}"
  type="module"
></script>
{% endblock %}
