<!-- prettier-ignore -->
{% extends "public_template.html" %}

<!-- prettier-ignore -->
{% import "macros/menu.html" as menu %}

<!-- prettier-ignore -->
{% block title %}About{% endblock %}

<!-- prettier-ignore -->
{% block menu %}

{{ menu.menu(routes) }}

{% endblock %}

{% block main %}

<h1 class="text-4xl font-semibold text-dark-blue mb-2">Acerca de</h1>
<p class="font-normal text-gray-600 leading-relaxed">
  Este es el index. Este es un servicio que corre en un servidor desarrollado y
  construido con Flask!
</p>

{% endblock %}
