<!-- prettier-ignore -->
{% extends "public_template.html" %}

<!-- prettier-ignore -->
{% import "macros/menu.html" as menu %}

<!-- prettier-ignore -->
{% block title %}{{ interface.name }}{% endblock %}

<!-- prettier-ignore -->
{% block menu %}

{{ menu.menu(routes) }}

{% endblock %}

{% block main %}

<h1 class="text-xl font-semibold text-dark-blue mb-2">
  Router {{ interface.router_id }}
</h1>
<h1 class="text-4xl font-semibold text-dark-blue mb-2">
  Interfaz {{ interface.name }}
</h1>
<p class="font-normal text-gray-600 leading-relaxed pb-2">
  Esta es la información de la interfaz
</p>

<h2 class="text-2xl font-semibold text-dark-blue mb-2">Información</h2>

<div class="py-2">
  <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-4 sm:gap-x-4 sm:px-6">
    <dt class="text-sm font-medium text-blue">Dirección ip</dt>
    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">
      {{ interface.ip }}
    </dd>
  </div>

  <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-4 sm:gap-x-4 sm:px-6">
    <dt class="text-sm font-medium text-blue">Máscara de subred</dt>
    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">
      {{ interface.mask }}
    </dd>
  </div>

  <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-4 sm:gap-x-4 sm:px-6">
    <dt class="text-sm font-medium text-blue">Red</dt>
    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">
      {{ interface.net }}
    </dd>
  </div>

  <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-4 sm:gap-x-4 sm:px-6">
    <dt class="text-sm font-medium text-blue">Estado</dt>
    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">
      {% if interface.is_active %}Activa{% else %}Apagada{% endif %}
    </dd>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
