<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tailwind.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="h-screen flex flex-col poppins text-sm">
    <div
      class="bg-white flex-shrink-0 flex flex-col z-10"
      style="flex-basis: 100px"
    >
      <div class="h-10 flex justify-center">
        <div class="flex items-center" style="flex-basis: 1350px">
          <h4 class="poppins text-sm font-bold flex-grow text-blue">
            joel@ubuntuvm:/
          </h4>
        </div>
      </div>
      <div class="h-px bg-gray-300"></div>
      <div class="flex-grow flex justify-center">
        <div class="flex items-center" style="flex-basis: 1350px">
          <h4 class="poppins text-xl font-bold text-gray-800 flex-grow">
            Networking managment
          </h4>
        </div>
      </div>
      <div class="h-px bg-gray-300"></div>
    </div>
    <div
      class="flex-grow flex min-h-0 justify-center bg-opacity-75 overflow-y-auto"
    >
      <div class="flex-shrink">
        <main class="min-h-0 pt-12 pb-16 text-gray-600" style="width: 760px">
          <nav
            class="overflow-y-auto flex-shrink-0 fixed -ml-72"
            style="flex-basis: 300px"
          >
            {% block menu %}{% endblock %}
          </nav>
          {% block main %}{% endblock %}
        </main>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  {% block custom_scripts %}{% endblock %}
</html>
