<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tailwind.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="h-screen flex flex-col poppins">
    <div
      class="bg-white flex-shrink-0 flex flex-col z-10"
      style="flex-basis: 100px; box-shadow: 0px 4px 12px rgba(37, 38, 94, 0.06)"
    >
      <div class="h-10 flex justify-center">
        <div class="flex items-center" style="flex-basis: 1200px">
          <h4 class="poppins text-sm font-bold flex-grow text-blue">
            joel@ubuntuvm:/
          </h4>
        </div>
      </div>
      <div class="h-px bg-gray-300"></div>
      <div class="flex-grow flex justify-center">
        <div class="flex items-center" style="flex-basis: 1200px">
          <h4 class="poppins text-xl font-bold text-gray-800 flex-grow">
            Networking managment
          </h4>
        </div>
      </div>
      <div class="h-px bg-gray-300"></div>
    </div>
    <div class="bg-gray-50 flex-grow flex min-h-0 justify-center bg-opacity-75">
      <div class="flex pt-12" style="flex-basis: 1200px">
        {% block menu %}{% endblock %}
        <main class="flex-grow overflow-y-auto pl-20">
          {% block main %}{% endblock %}
        </main>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  t
</html>
