<!-- prettier-ignore -->
{% extends "public_template.html" %}

<!-- prettier-ignore -->
{% import "macros/menu.html" as menu %}

<!-- prettier-ignore -->
{% block title %}Home{% endblock %}

<!-- prettier-ignore -->
{% block menu %}

{{ menu.menu(routes) }}

{% endblock %}

{% block main %}

<div class="flex flex-col items-center justify-center">
  <h1 class="text-9xl font-semibold text-dark-blue mb-2">404</h1>
  <img
    class="m-5 w-1/4"
    src="{{ url_for('static', filename='images/ufo.png') }}"
  />
</div>
{{ e }}
<!-- prettier-ignore -->
{% endblock %}
