<!-- prettier-ignore -->
{% extends "public_template.html" %}

<!-- prettier-ignore -->
{% import "macros/menu.html" as menu %}

<!-- prettier-ignore -->
{% import "macros/interface_item.html" as interface_item %}

<!-- prettier-ignore -->
{% import "macros/user_item.html" as user_item %}

<!-- prettier-ignore -->
{% block title %}{{ router.ip_max }}{% endblock %}

<!-- prettier-ignore -->
{% block menu %}

{{ menu.menu(routes) }}

{% endblock %}

{% block main %}

<h1 class="text-4xl font-semibold text-dark-blue mb-2">
  Router {{ router.ip_max }}
</h1>
<p class="font-normal leading-relaxed pb-2">
  Esta es la información, interfaces y usuarios del router.
</p>
<h2 class="text-2xl font-semibold text-dark-blue mb-2">Información</h2>

<div class="py-2">
  <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-4 sm:gap-x-4 sm:px-6">
    <div class="text-sm font-medium text-blue">Nombre del host</div>
    <div class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">
      <input
        id="input_hostname_router"
        type="text"
        value="{{ router.hostname }}"
        class="w-full no-input py-1 px-2"
        disabled
      />
    </div>
  </div>

  <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-4 sm:gap-x-4 sm:px-6">
    <div class="text-sm font-medium text-blue">Marca</div>
    <div class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3 px-2">
      {{ router.brand }}
    </div>
  </div>

  <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-4 sm:gap-x-4 sm:px-6">
    <div class="text-sm font-medium text-blue">Sistema Operativo</div>
    <div class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3 px-2">
      {{ router.os }}
    </div>
  </div>

  <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-4 sm:gap-x-4 sm:px-6">
    <div class="text-sm font-medium text-blue">Interfaces activas</div>
    <div class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3 px-2">
      {{ router.active_interfaces }}
    </div>
  </div>
</div>

<h3 id="log_router" class="font-bold text-lg text-red-600 mt-2 mb-2"></h3>
<div class="flex flex-row-reverse">
  <button
    id="bttn_edit_router"
    class="mx-2 flex items-center bg-gray-200 text-gray-900 rounded-full font-semibold py-2 px-4 shadow-md hover:bg-blue-200 ease-in-out duration-150 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2"
  >
    <img
      class="inline-block h-3 w-3 mr-2"
      src="{{ url_for('static', filename='images/edit.png') }}"
      alt=""
    />
    EDITAR
  </button>
  <button
    id="bttn_save_router"
    class="hidden mx-2 flex items-center bg-gray-200 text-gray-900 rounded-full font-semibold py-2 px-4 shadow-md hover:bg-blue-200 ease-in-out duration-150 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2"
  >
    <img
      class="inline-block h-3 w-3 mr-2"
      src="{{ url_for('static', filename='images/diskette.png') }}"
      alt=""
    />
    GUARDAR
  </button>
  <button
    id="bttn_cancel_router"
    class="hidden mx-2 flex items-center bg-red-100 text-gray-900 rounded-full font-semibold py-2 px-4 shadow-md hover:bg-red-200 ease-in-out duration-150 focus:outline-none focus:ring-2 focus:ring-red-300 focus:ring-offset-2"
  >
    <img
      class="inline-block h-2 w-2 mr-2"
      src="{{ url_for('static', filename='images/cancel.png') }}"
      alt=""
    />
    CANCELAR
  </button>

  <div id="loading_router" class="flex items-center hidden">
    <span class="font-medium mx-2">CARGANDO</span>
    <span class="spin inline-block">⌛</span>
  </div>
</div>

<h2 class="text-2xl font-semibold text-dark-blue my-2">Interfaces</h2>
<!-- prettier-ignore -->
{% for i in router.interfaces %} {{ interface_item.interface_item(i) }} {% endfor %}
<h2 class="text-2xl font-semibold text-dark-blue my-2">Usuarios</h2>
<!-- prettier-ignore -->
{% for u in router.users %} {{ user_item.user_item(u, loop.index) }} {% endfor %}

<div
  class="py-2 bg-gray-50 my-2 border border-gray-300 rounded-md hidden"
  id="add_user_section"
>
  <h2 class="px-4 text-xl font-semibold text-dark-blue my-2">
    Agregar usuario
  </h2>
  <div class="px-4 py-4 grid grid-cols-4 gap-x-4">
    <div class="text-sm font-medium text-blue">Nombre de usuario</div>
    <div class="text-sm text-gray-900 mt-0 col-span-3">
      <input
        id="input_add_user_name"
        type="text"
        class="w-full input py-1 px-2"
      />
    </div>
  </div>
  <div class="px-4 py-4 grid grid-cols-4 gap-x-4">
    <div class="text-sm font-medium text-blue">Contraseña</div>
    <div class="text-sm text-gray-900 mt-0 col-span-3">
      <input
        id="input_add_user_pass"
        type="password"
        class="w-full input py-1 px-2"
      />
    </div>
  </div>
</div>

<h3 id="log_add_user" class="font-bold text-lg text-red-600 mt-2 mb-2"></h3>
<div class="flex flex-row-reverse my-2">
  <button
    id="bttn_add_user"
    class="mx-2 flex items-center bg-gray-200 text-gray-900 rounded-full font-semibold py-2 px-4 shadow-md hover:bg-blue-200 ease-in-out duration-150 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2"
  >
    AGREGAR
  </button>

  <button
    id="bttn_add_use_save"
    class="hidden mx-2 flex items-center bg-gray-200 text-gray-900 rounded-full font-semibold py-2 px-4 shadow-md hover:bg-blue-200 ease-in-out duration-150 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2"
  >
    <img
      class="inline-block h-3 w-3 mr-2"
      src="{{ url_for('static', filename='images/diskette.png') }}"
      alt=""
    />
    GUARDAR
  </button>

  <button
    id="bttn_cancel_add_user"
    class="hidden mx-2 flex items-center bg-red-100 text-gray-900 rounded-full font-semibold py-2 px-4 shadow-md hover:bg-red-200 ease-in-out duration-150 focus:outline-none focus:ring-2 focus:ring-red-300 focus:ring-offset-2"
  >
    <img
      class="inline-block h-2 w-2 mr-2"
      src="{{ url_for('static', filename='images/cancel.png') }}"
      alt=""
    />
    CANCELAR
  </button>

  <div id="loading_add_user" class="flex items-center hidden">
    <span class="font-medium mx-2">CARGANDO</span>
    <span class="spin inline-block">⌛</span>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block custom_scripts %}
<script src="{{ url_for('static', filename='js/router.js') }}"></script>
{% endblock %}
